%table.deploys.table.table-striped.table-bordered
  %caption
    %h3 Latest Deploys
  %thead
    %tr
      %th App
      %th When
      %th Who
      %th Message
      %th Repository
      %th Revision

  - if deploys.any?
    %tbody
      - deploys.each do |deploy|
        %tr
          %td.app
            = deploy.app.name
            %span.label.label-info.environment= deploy.environment
          %td.when= deploy.created_at.to_s(:micro)
          %td.who= deploy.username
          %td.message= deploy.message
          %td.repository= deploy.repository
          %td.revision= deploy.short_revision
  - else
    %tbody
      %tr
        %td{ :colspan => 6}
          %p No deploys

-# = paginate deploys