- content_for :title, "Edit #{@user.name}"
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      = render 'shared/link_github_account', :user => @user

    .btn-group.pull-right
      = link_to('#user-delete-confirm', :class => 'btn btn-danger', :data => { :toggle => 'modal' }) do
        %i{ :class => 'icon-trash icon-white' }
        Delete User

      = link_to(users_path(@user), { :class => 'btn btn-inverse' }) do
        %i{ :class => 'icon-chevron-left icon-white'}
        Cancel

= form_for @user, :html => {:autocomplete => "off"} do |f|
  = @user.errors.full_messages.to_sentence
  = render 'fields', :f => f

  .btn-toolbar
    -# We can't seem to do f.submit as a block so replace with a button
    %button{ :class => 'btn btn-success' }
      %i{ :class => 'icon-thumbs-up icon-white' }
      Update User


= render 'modals/user_delete_confirm', :user => @user