- content_for :title, @user.name
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      = render 'shared/link_github_account', :user => @user

      = link_to(edit_user_path(@user), { :class => 'btn btn-primary' }) do
        %i{ :class => 'icon-edit icon-white' }
        Edit User

    .btn-group.pull-right
      = link_to(new_user_path, { :class => 'btn btn-primary' }) do
        %i{ :class => 'icon-plus-sign icon-white' }
        Add New User

      = link_to(users_path, { :class => 'btn btn-inverse' }) do
        %i{ :class => 'icon-chevron-left icon-white'}
        Back To Users


%table.single_user.table.table-striped.table-bordered
  %tr
    %th Email
    %td.main= @user.email
  - if Errbit::Config.user_has_username
    %tr
      %th Username
      %td.main= @user.username
  - if Errbit::Config.github_authentication && @user.github_login.present?
    %tr
      %th GitHub Login
      %td.main= link_to @user.github_login, "https://github.com/#{@user.github_login}"
  %tr
    %th Admin?
    %td= @user.admin? ? 'Yes' : 'No'
  %tr
    %th Created
    %td= @user.created_at.to_s(:micro)