.nav-collapse
  %ul{:class=> 'nav'}
    %li.dropdown.apps{:class => active_if_here(:apps)}
      = link_to '#', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' do
        - if current_app.present?
          = current_app.name
        - else
          Apps
        %b.caret
      %ul.dropdown-menu
        - for app in available_apps
          %li= link_to app.name, app_path(app)
        - if current_user.admin?
          %li.divider
          %li= link_to 'Add a New App', new_app_path
    %li.divider-vertical
    %li.errs{:class => active_if_here(:errs)}= link_to 'Errors', errs_path
    %li.divider-vertical
    - if user_signed_in? && current_user.admin?
      %li.users{:class => active_if_here(:users)}= link_to 'Users', users_path
  - if Errbit::Config.elasticsearch_enabled
    = form_tag search_path, {:method => :get, :class => 'navbar-search pull-left'} do
      %input{:type => 'text', :class => 'search-query span2', :placeholder => 'Search', :name => 'terms', :value => @search.present? ? @search.terms : ''}
