- content_for :title, 'Edit App'
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      = link_to_copy_attributes_from_other_app
      = link_to('#', { :class => 'btn btn-primary copy_config' }) do
        %i{ :class => 'icon-share icon-white' }
        Copy Configuration From Another App

    .btn-group.pull-right
      = link_to('#app-delete-confirm', { :class => 'btn btn-danger', :data => { :toggle => 'modal' } } ) do
        %i{ :class => 'icon-trash icon-white' }
        Delete

      = link_to(app_path(@app), { :class => 'btn btn-inverse pull-right' }) do
        %i{ :class => 'icon-chevron-left icon-white'}
        Cancel

= form_for @app do |f|

  = render 'fields', :f => f

  .btn-toolbar
    %button{ :class => 'btn btn-success' }
      %i{ :class => 'icon-thumbs-up icon-white' }
      Update App

= render 'modals/app_delete_confirm', :app => @app