- content_for :title, 'Apps'

- content_for :action_bar do
  - if current_user.admin?
    .btn-toolbar
      .btn-group
        = link_to(new_app_path, { :class => 'btn btn-primary' }) do
          %i{ :class => 'icon-plus-sign icon-white' }
          Add New App


%table.table.table-striped.table-bordered.apps
  %thead
    %tr
      %th Name
      %th GitHub Repo
      %th Tracker
      %th Last Deploy
      %th Active Errors
  %tbody
    - @apps.each do |app|
      %tr
        %td.name= link_to app.name, app_path(app)

        %td.github_repo
          - if app.github_repo?
            = link_to(app.github_repo, app.github_url, { :target => '_blank' })
          - else
            = link_to(edit_app_path(app), :class => 'btn') do
              %i{ :class => 'icon-plus-sign'}

        %td.issue_tracker
          - if app.issue_tracker_configured?
            = link_to(app.issue_tracker.label.titleize, app.issue_tracker.url, { :target => '_blank'})
          - else
            = link_to(edit_app_path(app), :class => 'btn') do
              %i{ :class => 'icon-plus-sign'}

        %td.deploy
          - if app.last_deploy_at
            - revision = app.deploys.last.short_revision
            = link_to( app.last_deploy_at.to_s(:micro) << (revision.present? ? " (#{revision})" : ""), app_deploys_path(app))
          - else
            N/A

        %td.count
          - unresolved = @unresolved_counts[app.id]
          - if unresolved > 0
            %a{ :class => 'badge badge-important', :href => app_path(app) }
              =unresolved
          -else
            %a{ :class => 'badge badge-success', :href => app_path(app) }
              0

    - if @apps.none?
      - if current_user.admin?
        %tr
          %td{:colspan => 5}
            = link_to(new_app_path, { :class => 'btn btn-primary' }) do
              %i{ :class => 'icon-plus-sign icon-white' }
              Add New App

