- content_for :title, 'Add App'
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      = link_to_copy_attributes_from_other_app
      = link_to('#', { :class => 'btn btn-primary copy_config' })
        %i{ :class => 'icon-share icon-white' }
        Copy Configuration From Another App

    .btn-group.pull-right
      = link_to(apps_path, { :class => 'btn btn-inverse pull-right' })
        %i{ :class => 'icon-chevron-left icon-white'}
        Back To Apps

= form_for @app do |f|

  = render 'fields', :f => f

  .btn-toolbar
    %button{ :class => 'btn btn-primary' }
      %i{ :class => 'icon-ok-sign icon-white' }
      Add App

