- content_for :title, @app.name

- content_for :head do
  = auto_discovery_link_tag :atom, app_path(@app, User.token_authentication_key => current_user.authentication_token, :format => "atom"), :title => "Errbit notices for #{@app.name} at #{request.host}"

- content_for :meta do
  .row-fluid
    - if @app.problems.count  > 0
      %span.alert.alert-error.span4
        %strong Errors Caught:
        = @app.problems.count
    - else
      %span.alert.alert-success.span4
        %strong Errors Caught:
        = @app.problems.count
    %span.alert.alert-info.span4
      %strong Deploy Count:
      = @app.deploys.count
    %span.alert.alert-success.span4
      %strong API Key:
      = @app.api_key
  %hr

- content_for :action_bar do
  .btn-toolbar
    .btn-group
      - if current_user.admin?
        = link_to(edit_app_path(@app), { :class => 'btn btn-primary' }) do
          %i{ :class => 'icon-edit icon-white' }
          Edit App

      -if @app.deploys.count > 0
        = link_to(app_deploys_path(@app), { :class => 'btn btn-info' }) do
          %i{ :class => 'icon-play icon-white'}
          View Deploys
      - if @app.problems.any?
        - if @all_errs
          = link_to(app_path(@app), { :class => 'btn btn-inverse' }) do
            %i{ :class => 'icon-eye-close icon-white' }
            Show Only Unresolved Errors
        - else
          = link_to(app_path(@app, :all_errs => true), { :class => 'btn btn-info' }) do
            %i{ :class => 'icon-eye-open icon-white' }
            Show All Errors

      - if @app.github_repo?
        = link_to(@app.github_url, { :class => 'btn btn-info', :target => '_blank' }) do
          %i{ :class => 'icon-share icon-white' }
          Goto Github Repo

    .btn-group.pull-right
      = link_to(apps_path, { :class => 'btn btn-inverse pull-right' }) do
        %i{ :class => 'icon-chevron-left icon-white'}
        Back To Apps

.row-fluid
  .span10
    - if @app.problems.any?
      = render 'errs/table', :errs => @problems
      = render 'deploys/table', :deploys => @deploys

    - else
      .well
        %h3.clear.alert.alert-warning No errs have been caught yet, make sure you setup your app
        = render 'configuration_instructions', :app => @app


  .span2
    %table.watchers.table.table-striped.table-bordered
      %caption
        %h3 Watchers
      %thead
        %tr
          %th Watcher Username / Email
      %tbody
        - if @app.notify_all_users
          %tr
            %td All users will be notified when something happens.
        - else
          - if @app.watchers.none?
            %tr
              %td
                %em #{@app.name} has no watchers
          - @app.watchers.each do |watcher|
            %tr
              %td= watcher.label